<main role="main" id="homepage">
  <section class="portfolio">
    <article class="container" role="article">
      <div class="indent">
        <div class="portfolio__grid">
          <h2 data-aos="fade-right" class="title title--x portfolio__title">Art</h2>

          <% art_preview = Spina::Page.live.where(view_template: :art_preview_items).last %>

          <% if art_preview.content.attachment_url(:image_1).present? && art_preview.content(:description_1).present?  %>
            <a data-aos="fade-left" href="<%= art_preview.content.attachment_url(:image_1) %>" class="portfolio-item portfolio-item--text-left">
              <div class="portfolio-item__image">
                <%= image_tag art_preview.content.attachment_url(:image_1), loading: 'lazy', width: 579, title: strip_tags(art_preview.content(:description_1)) %>
                <div class="view">View</div>
              </div>
              <div class="portfolio-item__text portfolio-item__text--animation">
                <p class="text"><%= strip_tags(art_preview.content(:description_1)) %></p>
              </div>
            </a>
          <% end %>

          <% if art_preview.content.attachment_url(:image_2).present? && art_preview.content(:description_2).present?  %>
            <a data-aos="fade-right" data-aos-offset="60" href="<%= art_preview.content.attachment_url(:image_2) %>" class="portfolio-item portfolio-item--2">
              <div class="portfolio-item__image">
                <%= image_tag art_preview.content.attachment_url(:image_2), loading: 'lazy', width: 579, title: strip_tags(art_preview.content(:description_2)) %>
                <div class="view">View</div>
              </div>
              <div class="portfolio-item__text">
                <p class="text"><%= strip_tags(art_preview.content(:description_2)) %></p>
              </div>
            </a>
          <% end %>

          <% if art_preview.content.attachment_url(:image_3).present? && art_preview.content(:description_3).present?  %>
            <a data-aos="fade-up" data-aos-offset="240" href="<%= art_preview.content.attachment_url(:image_3) %>" class="portfolio-item portfolio-item--3">
              <div class="portfolio-item__image">
                <%= image_tag art_preview.content.attachment_url(:image_3), loading: 'lazy', width: 579, title: strip_tags(art_preview.content(:description_3)) %>
                <div class="view">View</div>
              </div>
              <div class="portfolio-item__text">
                <p class="text"><%= strip_tags(art_preview.content(:description_3)) %></p>
              </div>
            </a>
          <% end %>

        </div>
      </div>
    </article>
  </section>
  <section class="gallery">
    <article class="container" role="article">
      <div class="indent">
        <div class="gallery__title">
          <h2 data-aos="fade-right" class="title title--xxl">Art</h2>
        </div>
        <div data-aos="fade-left" class="gallery__wrap">
          <div class="gallery__slider">
            <% Spina::Page.live.where(view_template: :art_gallery_items).each do |art_gallery_item| %>
              <a href="<%= image_url art_gallery_item.content.attachment_url(:image) %>" class="gallery__slider-item">
                <%= image_tag art_gallery_item.content.attachment_url(:image), title: strip_tags(art_gallery_item.content(:description)) %>
                <div class="view">View</div>
              </a>
            <% end %>
          </div>

          <div class="gallery__nav">
            <div class="gallery__nav-prev">
              <span class="icon icon--icon-arrow-left">
                <svg class="icon__svg"><use xlink:href="#icon-arrow-left"></use></svg>
              </span>
            </div>
            <div class="gallery__nav-next">
              <span class="icon icon--icon-arrow-right">
                <svg class="icon__svg"><use xlink:href="#icon-arrow-right"></use></svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
  <section class="portfolio-hero">
    <article class="container" role="article">
      <div class="indent">
        <% art_big_picture = Spina::Page.live.find_by(view_template: :art_big_picture) %>

        <% if art_big_picture.present? %>
          <a data-aos="fade-up" href="<%= art_big_picture.content.attachment_url(:art_image) %>" class="portfolio-item portfolio-item--hero">
            <div class="portfolio-item__image">
              <%= image_tag art_big_picture.content.attachment_url(:art_image), width: 1003, loading: 'lazy', title: 'The picture features a vibrant blue parrot perched on a tropical tree branch, surrounded by lush green foliage that accentuates its striking plumage.' %>
              <div class="view">View</div>
            </div>
            <div class="portfolio-item__text portfolio-item__text--animation">
              <p class="text">
                <%= strip_tags(art_big_picture.content(:art_description)) %>
              </p>
            </div>
          </a>
        <% end %>

      </div>
    </article>
  </section>
  <section class="journal-section">
    <article class="container" role="article">
      <h2 data-aos="fade-right" class="title title--xxl journal-section__title">
        My journal
        <svg class="stroke-animation" width="988" height="188" viewBox="0 0 988 188" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 135.807C46.0654 117.86 144.033 75.4553 175.381 49.4116C214.565 16.857 288.663 -17.228 336.205 14.9092C354.346 27.1723 331.211 43.2356 293.752 58.6365C204.661 95.2661 19.8709 195.548 114.947 180.07C125.368 178.374 138.388 175.426 154.396 171.004C290.186 133.497 264.126 203.008 346.233 164.327C414.078 141.279 540.373 82.1888 502.785 30.2127C455.801 -34.7574 836.133 104.782 726.379 149.858C616.625 194.934 837.061 -13.3326 876.803 14.9092C916.545 43.1511 792.491 214.132 889.246 181.995C966.649 156.285 986 74.7318 986 37.1688" stroke="currentColor" stroke-width="3"/></svg>
      </h2>

      <div data-aos="fade-up" class="journal-section__slider">
        <% journal_items = Spina::Page.where(view_template: :journal_items).live %>

        <% journal_items.each do |journal_item| %>
          <a href="<%= journal_item.materialized_path %>" class="journal-item <%= journal_item.id == journal_items.first.id ? 'journal-item--hero' : '' %>">

            <div class="journal-item__image">
              <% if journal_item.content(:journal_image).present? %>
                <%= image_tag journal_item.content.attachment_url(:journal_image) %>
              <% end %>
              <div class="view">View</div>
            </div>

            <div class="journal-item__bottom">
              <p class="text">
                <% if journal_item.content(:journal_preview_description).present? %>
                  <%= strip_tags(journal_item.content(:journal_preview_description)).truncate(135) %>
                <% end %>
              </p>
              <div class="journal-item__date"><%= l journal_item.created_at, format: "%d\/%m" %></div>
            </div>
          </a>
        <% end %>
      </div>
    </article>
  </section>
</main>

