<main role="main">
  <div class="back">
    <article class="container container--lg">
      <a href="/">Home page</a>
    </article>
  </div>
  <section class="section">
    <article class="container container--text" role="article">
      <div class="journal">
        <h1><%= current_page.title %></h1>
        <div class="journal__hero-image">
          <%= image_tag original_url(current_page.content(:journal_image).spina_image) %>
        </div>
        <p class="perex">
          <%= current_page.content(:journal_preview_description).html_safe %>
        </p>
        <hr>
        <div class="journal__block">
          <%= current_page.content(:journal_description).html_safe %>
        </div>
      </div>

    </article>
  </section>
  <section class="journal-section">
    <article class="container" role="article">
      <h2 data-aos="fade-right" class="title title--md journal-section__title">
        Read another
      </h2>
      <div data-aos="fade-up" class="journal-section__slider">
        <% journal_items = Spina::Resource.find_by(name: :journal_items).pages.live.where.not(id: current_page.id) %>

        <% journal_items.each do |journal_item| %>
          <a href="<%= journal_item.materialized_path %>" class="journal-item <%= journal_item.id == journal_items.first.id ? 'journal-item--hero' : '' %>">

            <div class="journal-item__image">
              <% if journal_item.content(:journal_image).present? %>
                <%= image_tag journal_item.content(:journal_image) %>
              <% end %>
              <div class="view">View</div>
            </div>

            <div class="journal-item__bottom">
              <p class="text">
                <%= strip_tags(journal_item.content(:journal_preview_description)).truncate(135) %>
              </p>
              <div class="journal-item__date"><%= l journal_item.created_at, format: "%d\/%m" %></div>
            </div>
          </a>
        <% end %>
      </div>
    </article>
  </section>
</main>
